body {
	font: 12px "Courier", monospace;
	margin: 2px;
	line-height: 1.4em;
}

.time {
	color: #888;
}

#Chat {
	padding-bottom: 2px;
}

.message.account .sender {
	color: #0080BF;
	text-decoration:none !important;
}

.message.admin .sender {
	color: #F00;
	text-decoration:none !important;
}

.status {
	color: #F00;
}